@keyframes page-enter-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(1.01);
  }

  100% {
    opacity: 1;
  }
}

body {
  font-variant-numeric: tabular-nums !important;
  background-image: url("../assets/bg-1.jpg");
  background-size: 100%;
}

.navbar {
  margin-bottom: 4rem;
}

.container {
  background: rgba(255, 255, 255, 1);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  overflow-x: auto;
}

#page {
  animation-name: page-enter-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.65, .27, .69, 1.42);
  transition: transform 0.3s ease-in-out;
  will-change: auto;
}

.centered-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.centered-container>* {
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding: 2rem;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  border-radius: 0.5rem;

}

.hidden {
  display: none;
}

.toast {
  position: fixed;
  top: 1rem;
  left: 50%;
  min-width: 250px;
  transform: translateX(-125px);
}

.toast.error {
  background-color: rgb(253, 137, 137);
}

.fa-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
}

.overlay {
  max-width: 640px;
  width: 100%;
  margin: auto
}

.table-hover tr:hover {
  cursor: pointer;
}

/* Used for the game details modal */
.overlay .left {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.overlay .right {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  width: 70%;
  margin-left: 30%;
}

.hover-text:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.finance-canvas {
  width: 100%;
  aspect-ratio: 3/1;
  background: #EFEFEF;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

#loading-indicator {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 40px;
  height: 40px;
  border: solid 3px white;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: -20px;
  margin-top: -20px;
  box-shadow: -5px 0 5px rgba(7, 146, 189, 0.38);
}
