@font-face {
  font-family: 'Dai Banna';
  src: url('../fonts/DaiBannaSIL-Regular.ttf');
}

@keyframes page-enter-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(1.01);
  }

  100% {
    opacity: 1;
  }
}

@keyframes overlay-fade-in-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay-fade-in-2 {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  50% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
  }
}

body {
  font-variant-numeric: tabular-nums !important;
  background-image: url("../assets/bg-1.jpg");
  background-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

#logout-button {
  margin-left: auto;
  margin-right: 2rem;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar {
  margin-bottom: 4rem;
}

.navbar .navbar-info-item {
  margin: 0.5rem 0 0.5rem 1rem;
  color: #17a2b8;
}

.container {
  background: rgba(255, 255, 255, 1);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  overflow-x: auto;
}

#page {
  animation-name: page-enter-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.65, .27, .69, 1.42);
  transition: transform 0.3s ease-in-out;
  will-change: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.centered-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.centered-container>* {
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding: 2rem;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  border-radius: 0.5rem;

}

.hidden {
  display: none;
}

.toast {
  position: fixed;
  top: 4rem;
  left: 50%;
  z-index: 10;
  min-width: 250px;
  transform: translateX(-125px);
}

.toast.error {
  background-color: rgb(253, 137, 137);
}

.fa-button {
  margin: 0 1rem;
  font-size: 20px;
}

.fa-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  animation-name: overlay-fade-in-1;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.overlay {
  max-width: 640px;
  width: 100%;
  margin: auto;
  animation-name: overlay-fade-in-2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.table-hover tr:hover {
  cursor: pointer;
}

table.table thead tr th {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #333;
  color: white;
  border-radius: 255px 0 217px 0px/25px 225px 0px 249px;
  border-bottom: none;
  line-height: 20px;
}

th.sort-header {
  cursor: pointer;
  white-space: nowrap;
}
th.sort-header:before {
  content: "▶";
  display: inline-block;
  opacity: 0.5;
  transition: transform 0.5s ease-in-out;
}
th.sort-header.asc:before {
  content: "▶";
  display: inline-block;
  transform: rotate(-90deg);
  opacity: 1.0;
}
th.sort-header.desc:before {
  content: "▶";
  display: inline-block;
  transform: rotate(90deg);
  opacity: 1.0;
}

td small.table-divider-text {
  display: block;
  margin: 1rem 0 -0.75rem 0;
  opacity: 0.75;
}

/* Used for the game details modal */
.overlay .left {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.overlay .right {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  width: 70%;
  margin-left: 30%;
}

a:link,
a:visited,
.hover-text:not(td) {
  text-decoration: none;
  color: initial;
  border-bottom: dotted 1px #C0C0C0;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.navbar a:link, .navbar a:visited, a:link.row, a:visited.row {
  border: none;
}

a:hover, a:active,
.hover-text:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.finance-canvas {
  width: 100%;
  aspect-ratio: 3/1;
  background: #EFEFEF;
}

.nav-pills .nav-link {
  background: #EFEFEF;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

#loading-indicator {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 40px;
  height: 40px;
  border: solid 4px #333;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: -20px;
  margin-top: -20px;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.player-image {
  float: left;
  margin-bottom: 3rem;
}

.wappen {
  width: 100px;
  height: 118px;
  border-radius: 0 0 65% 65%;
  margin: 1.5rem auto 0 auto;
  border: 6px solid white;
  border-top-width: 18px;
  box-shadow: 10px 10px 30px 5px #000000bf;
  text-align: center;
  line-height: 20px;
  font-size: 22px;
  /* font-style: italic; */
  padding: 9px 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px #000000a6;
  cursor: pointer;
  font-family: 'Dai Banna', sans-serif;
  transform: rotateY(10deg);
  transition: transform 0.5s ease-in-out;
  letter-spacing: -2px;
}

.wappen:hover {
  transform: rotateY(-5deg) scale(1.2);
}

.color-picker-item {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
}

.article .player-image svg {
  height: 150px;
}

.article .player-image {
  height: 150px;
  overflow: hidden;
  margin: 0 1rem 1rem 0;
}

@media screen and (max-width: 768px) {
  ul.list-group,
  table.table {
    margin: 0 -2rem 4rem -2rem;
    width: calc(100% + 4rem);
  }
  li.list-group-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #page {
    margin-top: 3rem;
    border-radius: 0;
  }
  #logout-button {
    margin-left: 1rem;
  }
  .navbar .navbar-nav {
    margin-left: 1rem;
  }
}
