@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/cabin-sketch-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/neucha-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Shantell Sans';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(fonts/shantell-sans-variable.woff2) format('woff2-variations');
}
