.level-badge {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-weight: bold;
    color: black;
}

.level-badge--sm {
    height: 24px;
    width: 24px;
    line-height: 24px;
    font-size: inherit;
}

.level-badge--lg {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.level-badge--bronze {
    background-color: #eaa347;
    color: #593c15;
    text-shadow: 1px 1px 0 #a27d4e;
}

.level-badge--silver {
    background-color: #EFEFEF;
    color: #343434;
    text-shadow: 1px 1px 0 #c0c0c0;
}

.level-badge--gold {
    background-color: #FFD700;
    color: #5c4a00;
    text-shadow: 1px 1px 0 #c9a800;
}
