.squad {
    background-color: green;
    background-image: url("../assets/football-field-vertical.jpg");
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: bottom 0 left 50%;
    aspect-ratio: 1 / 1.1;
}

.squad .player {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    /*backdrop-filter: blur(5px);*/
    border: solid 1px white;
    border-radius: 1rem;
    transform: translateX(-60px) translateY(35px);
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.player .player-image {
    transform: translateY(-90%);
}

.player .position-badge {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-9px) translateY(-13px);
    width: 25px;
    height: 25px;
    background-color: rgb(54 70 45);
    /* border: solid 1px #C0C0C0; */
    border-radius: 50%;
    color: white;
    line-height: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    /*backdrop-filter: blur(5px);*/
    font-size: 11px;
}

.player .freshness-badge {
    display: block;
    position: absolute;
    bottom: -19px;
    left: 0;
    transform: translateX(-9px) translateY(-13px);
    width: 36px;
    height: 18px;
    background-color: rgb(0 0 0 / 66%);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 18px;
}

.player .name {
    display: block;
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.player .level-badge {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(10px) translateY(20px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.squad .player:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.squad .player.GK {
    top: 85%;
    left: 50%;
    z-index: 6;
}

.squad .player.LD {
    top: 65%;
    left: 15%;
    z-index: 5;
}

.squad .player.CD {
    top: 70%;
    left: 50%;
    z-index: 5;
}

.squad .player.RD {
    top: 65%;
    left: 85%;
    z-index: 5;
}

.squad .player.CM {
    top: 40%;
    left: 50%;
    z-index: 3;
}

.squad .player.LM {
    top: 40%;
    left: 15%;
    z-index: 3;
}

.squad .player.RM {
    top: 40%;
    left: 85%;
    z-index: 3;
}

.squad .player.DM {
    top: 55%;
    left: 50%;
    z-index: 4;
}

.squad .player.OM {
    top: 25%;
    left: 50%;
    z-index: 2;
}

.squad .player.CA {
    top: 10%;
    left: 50%;
    z-index: 1;
}

.squad .player.RA {
    top: 10%;
    left: 75%;
    z-index: 1;
}

.squad .player.LA {
    top: 10%;
    left: 25%;
    z-index: 1;
}


@media screen and (max-width: 1119px) {
    .squad {
        aspect-ratio: 1.1 / 1;
    }

    #squad {
        width: calc(100% + 4rem);
        margin: 0 -2rem;
    }
}

@media screen and (max-width: 640px) {
    .squad {
        aspect-ratio: 1 / 1;
    }

    .squad .player {
        transform: translateX(-52px) translateY(12px) scale(0.6);
    }
}
