node_modules
/client/.DS_Store
/.DS_Store
/client/vendor
/native-app/web/
/native-app/platforms/
/native-app/node_modules/
/desktop-app/node_modules/
/dist-desktop/
.DS_Store
/client/assets/native-client.zip
/client/assets/native-version.json
/client/assets/desktop-client.zip
/client/assets/desktop-version.json
.env
/uploads/
/data/
