/* ==========================================================================
   Dashboard Page Styles
   ========================================================================== */

/* Dashboard mini standing emblem */
.dashboard-emblem {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -4px;
}

/* Finance Canvas */
.finance-canvas {
    width: 100%;
    aspect-ratio: 3/1;
}

/* Action Card Badge */
.action-card-badge {
    width: 20px;
    padding: 0;
    height: 20px;
    line-height: 22px;
    border: none;
    position: absolute;
    transform: translate(0px, -14px);
    font-size: 10px;
}

/* Sponsor Sprite */
.sponsor-sprite {
    background-size: 1536px 1024px;
    max-width: 100%;
    border-radius: 0;
}
